<head>
    <link rel="icon" href="../../favicon.ico">
    <link href="../../styles.css" rel="stylesheet">
</head>

<body>
    <div class="masthead">
        <div class="masthead-text mastheadContainer">
            <h1>O mnie</h1>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-8 aboutMeAdjustment">
            <article>
                <p></p>
                <p></p>
            </article>
        </div>
        <div class="col-sm-3 col-sm-offset-1 aboutMeAdjustment">
            <img src="app/images/ancze.jpg" alt="Photo" align="right">
        </div>
    </div>
</body>