<head>
    <link rel="icon" href="../../favicon.ico">
</head>

<body>
    <div class="masthead">
        <div class="masthead-text mastheadContainer">
            <h1>O mnie</h1>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-8 divAdjustment">
            <article>
                <p>Nazywam się Andrzej w programowaniu interesuje mnie zarówno backend w wydaniu .NET, C# jak i frontend gdzie skupiam się głównie na Angular2, TypeScript.
                </p>
            </article>
        </div>
        <div class="col-sm-3 col-sm-offset-1 divSidebarAdjustment">
            <div>
                <img src="app/images/ancze.jpg" alt="Photo" align="right" style="border-radius:50%">
            </div>
        </div>
    </div>
</body>