<head>
    <link rel="icon" href="../../favicon.ico">
    <link href="../../styles.css" rel="stylesheet">
</head>

<body>
    <div class="masthead">
        <div class="masthead-text mastheadContainer">
            <h1>Kontakt</h1>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-8 divAdjustment">
            <form class="labelStyle contactForm">
                <div>
                    <label for="nameInput">Imię <span>(wymagane)</span></label>
                    <input type="text" id="nameInput">
                    <!-- [(ng-model)]="contactEnvelope.firstName" -->
                </div>
                <div>
                    <label for="emailInput">Email <span>(wymagane)</span></label>
                    <input type="email" id="emailInput">
                </div>
                <div>
                    <label for="messageInput">Wiadomość <span>(wymagane)</span></label>
                    <textarea id="messageInput" rows="10"></textarea>
                </div>
                <div id="messageInput">
                    <button type="submit" class="btn btn-default btn-block">Wyślij</button>
                    <!-- (click)="sendMessage()" -->
                </div>
            </form>
        </div>
        <div class="col-sm-3 col-sm-offset-1 divSidebarAdjustment">
            <div>
                <img src="app/images/mailImage.png" alt="Mail" align="right">
            </div>
            <div class="sidebarModule divUnderDivWithPng">
                <hr>
                <h3>Więcej</h3>
                <ol class="listUnstyled">
                    <li class="categoryItem">
                        <a><img src="app/images/rssImage.png" alt="RSS" width="30" height="30">RSS</a>
                    </li>
                    <li class="categoryItem"><img src="app/images/githubImage.png" alt="GIT" width="30" height="30">
                        <a href="https://github.com/AnCze">GitHub</a></li>
                    <li class="categoryItem"><img src="app/images/twitterImage.png" alt="TW" width="30" height="30">
                        <a href="https://twitter.com/Andrzej_Wro?lang=pl">Twitter</a></li>
                    <li class="categoryItem"><img src="app/images/facebookImage.png" alt="FB" width="30" height="30">
                        <a href="https://www.facebook.com/andrzej.wroclaw.1">Facebook</a></li>
                </ol>
            </div>
        </div>
    </div>
</body>