<head>
    <link rel="icon" href="../../favicon.ico">
    <link href="../../styles.css" rel="stylesheet">
</head>

<body>
    <div class="masthead">
        <div class="masthead-text mastheadContainer">
            <h1>Kontakt</h1>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-8 divAdjustment">
            <form #form="ngForm" novalidate>
                <div>
                    <!-- add to div above for bootstrap validation input class="form-group" [class.has-error]="nameImput.invalid && nameImput.touched" -->
                    <label class="labelStyle">Imię <span>(wymagane)</span></label>
                    <input #nameImput="ngModel" maxlength="30" class="contactForm" type="text" name="name" required [ngModel]='contactEnvelope.nameInput' (ngModelChange)='imputNameToUpperCase($event)'>
                    <div *ngIf="nameImput.invalid && nameImput.touched" class="alert alert-danger inputErrorMessageStyle">
                        Wprowadź imię.
                    </div>
                </div>
                <div>
                    <label class="labelStyle">Email <span>(wymagane)</span></label>
                    <input #emailInput="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="contactForm" type="email" name="email" required [(ngModel)]='contactEnvelope.emailInput'>
                    <div *ngIf="emailInput.invalid && emailInput.touched" class="alert alert-danger inputErrorMessageStyle">
                        Wprowadź poprawny email.
                    </div>
                </div>
                <div>
                    <label class="labelStyle">Wiadomość <span>(wymagane)</span></label>
                    <textarea #messageInput="ngModel" class="contactFormMessage" name="message" rows="10" cols="60" maxlength="3450" required [(ngModel)]='contactEnvelope.messageInput'></textarea>
                    <div *ngIf="messageInput.invalid && messageInput.touched" class="alert alert-danger textAreaErrorMessageStyle">
                        Wprowadź wiadomość.
                    </div>
                </div>
                <div class="sendButtonDiv">
                    <button id="anczeButton" type="submit" class="btn btn-default btn-block" [disabled]="form.invalid" (click)="sendMessage(form)">Wyślij</button>
                </div>
            </form>
        </div>
        <div class="col-sm-3 col-sm-offset-1 divSidebarAdjustment">
            <div>
                <img src="app/images/mailImage.png" alt="Mail" align="right">
            </div>
            <div class="sidebarModule divUnderDivWithPng">
                <hr>
                <h3>Więcej</h3>
                <ol class="listUnstyled">
                    <li class="categoryItem">
                        <a><img src="app/images/rssImage.png" alt="RSS" width="30" height="30">RSS</a>
                    </li>
                    <li class="categoryItem"><img src="app/images/githubImage.png" alt="GIT" width="30" height="30">
                        <a href="https://github.com/AnCze">GitHub</a></li>
                    <li class="categoryItem"><img src="app/images/twitterImage.png" alt="TW" width="30" height="30">
                        <a href="https://twitter.com/Andrzej_Wro?lang=pl">Twitter</a></li>
                    <li class="categoryItem"><img src="app/images/facebookImage.png" alt="FB" width="30" height="30">
                        <a href="https://www.facebook.com/andrzej.wroclaw.1">Facebook</a></li>
                </ol>
            </div>
        </div>
    </div>
</body>