<h1>Login</h1>
<hr>
<div class="col-md-4">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off" novalidate>
        <div class="form-group">
            <label class="labelStyle" for="userName">Nazwa użytkownika:</label>
            <input id="userName" type="text" class="form-control" placeholder="Nazwa uzytkownika..." name="userName" (ngModel)="userName" required/>
        </div>
        <div class="form-group">
            <label class="labelStyle" for="password">Haslo:</label>
            <input id="password" type="password" class="form-control" placeholder="Haslo..." name="password" (ngModel)="password" required/>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Zaloguj</button>
        <button (click)='cancel()' type="button" class="btn btn-default">Anuluj</button>
    </form>
</div>