<head>
    <link rel="icon" href="../../favicon.ico">
    <link href="blog.component.css" rel="stylesheet">
</head>

<body>
    <div class="masthead">
        <div class="masthead-text">
            <h1>Blog</h1>
        </div>
    </div>

    <div class="container">
        <h1 class="blog-title">AnCze blog programistyczny</h1>
        <p class="blog-description">Blog dokumentujący moją zmianę zawodu i ścieżkę rozwoju jako developera.</p>
    </div>

    <div class="row container">
        <div class="col-sm-8">
            <div>
                <h2>Pierwszy wpis</h2>
                <p>"Kwiecień, 2017 by "<a href="">AnCze</a></p>
                <p>Początek tekstu pierwszego wpisu</p>
                <hr>
                <p>Tekst pierwszego wpisu</p>
            </div>
        </div>
        <div class="col-sm-3">
            <p>Side bar test</p>
        </div>
    </div>


</body>