<head>
    <link rel="icon" href="../../favicon.ico">
    <link href="../../styles.css" rel="stylesheet">
</head>

<body>
    <div id="top" class="masthead">
        <div class="masthead-text mastheadContainer">
            <h1>Blog</h1>
        </div>
    </div>
    <div class="container">
        <div class="blogHeader">
            <h1 class="blog-title">AnCze blog programistyczny</h1>
            <p class="blog-description">Blog dokumentujący moją zmianę zawodu i ścieżkę rozwoju jako developera.</p>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <hr>
                <article>
                    <header>
                        <h2><a href="#">Od czego wszystko się zaczęło?!</a></h2>
                        <p class="blogPostMeta">"Kwiecień, 2017 by "<a href="">AnCze</a></p>
                    </header>
                    <div>
                        <img src="app/images/ideaPhoto.jpg" alt="Photo" align="middle">
                    </div>
                    <div class="blogPostContent">
                        <p>Pewnego czerwcowego dnia wstałem z łóżka i zacząłem się zastanawiać gdzie ja jestem, co robię w swoim życiu i dlaczego codziennie rano nie wstaje z zapałem jaki miałem jeszcze kilka lat temu. Pomyślałem mam wspaniałą żonę, mieszkanie,
                            dobry samochód, czego mi brakuje?! ...</p>
                        <p><a href="">Czytaj dalej →</a></p>
                    </div>
                    <hr>
                </article>
                <nav>
                    <ul class="pager">
                        <li><a href="#">Poprzedni</a></li>
                        <li><a href="#">Następny</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <hr>
                <div class="sidebarModule sidebarModuleAbout">
                    <h3>O mnie</h3>
                    <a href="">
                        <p>Nazywam się Andrzej w programowaniu interesuje mnie głównie backend w wydaniu ...</p>
                    </a>
                </div>
                <div class="sidebarModule sidebarModuleForArchiwa">
                    <h4>Archwia</h4>
                    <ol class="listUnstyled">
                        <li><a href="">Kwiecień 2017</a></li>
                    </ol>
                </div>
                <div class="sidebarModule">
                    <h4>Gdzie indziej</h4>
                    <ol class="listUnstyled">
                        <li><a href="https://github.com/AnCze">GitHub</a></li>
                        <li><a href="https://twitter.com/Andrzej_Wro?lang=pl">Twitter</a></li>
                        <li><a href="https://www.facebook.com/andrzej.wroclaw.1">Facebook</a></li>
                    </ol>
                </div>
            </div>
        </div>

    </div>
</body>
<footer class="blogFooter">
    <a href="#top">Back to top</a>
</footer>