<head>
    <link rel="icon" href="../../favicon.ico">
</head>

<body>
    <div id="top" class="masthead">
        <div class="masthead-text mastheadContainer">
            <h1>Blog</h1>
        </div>
    </div>
    <div class="container">
        <div class="blogHeader">
            <h1 class="blog-title">AnCze blog programistyczny</h1>
            <p class="blog-description">Blog programistyczny dokumentujący moją zmianę zawodu i ścieżkę rozwoju jako developera.</p>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <hr>
                <blog-topic *ngFor="let event of activeEvents" [event]="event" (eventClick)="handleEventClicked($event)"></blog-topic>
                <nav>
                    <ul class="pager">
                        <li><a href="#">Poprzedni</a></li>
                        <li><a href="#">Następny</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <hr>
                <div class="sidebarModule sidebarModuleForKategorie">
                    <h3>Kategorie</h3>
                    <ol class="listUnstyled">
                        <li class="categoryItem"><a role="button" (click)="filterBy='wszystkie'; changeFilter()">Wszystkie</a></li>
                        <li class="categoryItem"><a role="button" (click)="filterBy='.net'; changeFilter()">.Net</a></li>
                        <li class="categoryItem"><a role="button" (click)="filterBy='c#'; changeFilter()">C#</a></li>
                        <li class="categoryItem"><a role="button" (click)="filterBy='angular2'; changeFilter()">Angular2</a></li>
                        <li class="categoryItem"><a role="button" (click)="filterBy='typescript'; changeFilter()">TypeScript</a></li>
                        <li class="categoryItem"><a role="button" (click)="filterBy='html'; changeFilter()">HTML</a></li>
                        <li class="categoryItem"><a role="button" (click)="filterBy='css'; changeFilter()">CSS</a></li>
                        <li class="categoryItem"><a role="button" (click)="filterBy='inne'; changeFilter()">Inne</a></li>
                    </ol>
                </div>
                <div class="sidebarModule">
                    <hr>
                    <h3>Więcej</h3>
                    <ol class="listUnstyled">
                        <li class="categoryItem">
                            <a><img src="app/images/rssImage.png" alt="RSS" width="30" height="30">RSS</a>
                        </li>
                        <li class="categoryItem"><img src="app/images/githubImage.png" alt="GIT" width="30" height="30">
                            <a href="https://github.com/AnCze">GitHub</a></li>
                        <li class="categoryItem"><img src="app/images/twitterImage.png" alt="TW" width="30" height="30">
                            <a href="https://twitter.com/Andrzej_Wro?lang=pl">Twitter</a></li>
                        <li class="categoryItem"><img src="app/images/facebookImage.png" alt="FB" width="30" height="30">
                            <a href="https://www.facebook.com/andrzej.wroclaw.1">Facebook</a></li>
                    </ol>
                </div>
            </div>
        </div>

    </div>
</body>
<footer class="blogFooter">
    <a href="#top">Back to top</a>
</footer>