.bootstrapOverrides {
    color: #595959;
}

.bootstrapOverrides:hover {
    color: #00c8d7;
}

.navItem {
    padding: 10px;
    font-weight: 800;
}

.masthead {
    background-color: #595959;
    height: 100px;
}

.masthead-text {
    color: #FFFFFF;
}

.mastheadContainer {
    width: 970px;
    padding: 30px 15px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

a:hover {
    color: #00c8d7;
}

h1 {
    text-align: left;
    margin: 0;
}

.container {
    width: 970px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 50px;
    font-weight: normal;
    color: #333;
    text-align: left;
}

.blog-description {
    font-size: 20px;
    color: #999;
}

.blogPostMeta {
    margin-bottom: 40px;
    color: #999;
}

.blogPostContent {
    margin-top: 40px;
    margin-bottom: 20px;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.sidebarModuleAbout {
    background-color: #f5f5f5;
}

.sidebarModule {
    padding: 15px;
}

.sidebarModuleForArchiwa {
    padding-top: 45px;
}

.listUnstyled {
    list-style: none;
    padding-left: 0;
}

.aboutMeAdjustment {
    padding: 60px 0px;
}