<head>
    <link rel="icon" href="../../favicon.ico">
</head>

<body>
    <div id="top" class="masthead">
        <div class="masthead-text mastheadContainer">
            <h1>Blog</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 ">
                <hr>
                <article>
                    <header>
                        <h2>{{event?.title}}</h2>
                        <p class="blogPostMeta">Data: {{event?.date | date: 'd/M/y'}}<a href="/o mnie">AnCze</a></p>
                    </header>
                    <div>
                        <img class="blogPostPhoto" [src]='event?.image' />
                    </div>
                    <div class="blogPostContent">
                        <p>{{event?.body}}</p>
                        <button class="btn btn-primary" [routerLink]="['/blog']" (click)="readMore()">Powrót</button>
                    </div>
                    <hr>
                </article>
            </div>
        </div>
    </div>
</body>